.inner-container{
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

#root{
  padding:20px;
}

.personal-info-container {
  text-align: center;
}

.resume-container {
  max-width: 900px;
  padding: 40px;
  border: 1px solid darkgrey;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.objective {
  margin-top: 20px;
  text-align: left;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0;
  margin-block-end: 5px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0;
  margin-block-end: 5px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0;
  margin-block-end: 5px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

textarea {
  width: 100%;
  height: 50px;
}

input {
  margin-bottom: 10px;
  margin-right:5px;
  flex-grow: 1;
}

.education-container {
  display: flex;
  flex-direction: column;
  margin-top:15px;
}


.school-info-inputs{
  display: flex;
  flex-flow: wrap;
}

.degree-certificate-inputs {
  display: flex;
  flex-flow: wrap;
}

.address-fields {
  display: flex;
  flex-flow: wrap;
}

.contact-fields {
  display: flex;
  flex-flow:wrap;
}

.education {
  margin-top: 15px;
}

.education-timeline {
  display: flex;
  flex-flow: wrap;
}

.education-school-city {
  display: flex;
  flex-direction: column;
}

.education-one-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.education-dates {
  text-align: right;
}

button.add-more-education-button {
  margin-top: 10px;
  margin-bottom: 15px;
  width: fit-content;
  align-self: center;
}

input[type="submit"] {
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
  align-self: center;
}

.education-two-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.education-two-container {
  margin-top: 20px;
}

input.skill {
  flex-grow: 0.1;
}

@media screen and (max-width:403px) {
  input.skill {
    flex-grow: 1;
  }
  
}

.skills-info-container {
  margin-top: 15px;
}
.skills-item {
  display: flex;
  flex-flow: wrap;
}

.experience-inputs-container{
  margin-top:15px;
}

.experience-info-inputs {
  display: flex;
  flex-flow: wrap;
}

.position-department-inputs {
  display: flex;
  flex-flow: wrap;
}

.experience-timeline {
  display: flex;
  flex-flow: wrap;
}

.experience-notes {
  display: flex;
  flex-direction: column;
}

.experience-one-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.objective-container {
  display: flex;
  flex-flow:wrap;
}

.experience-two-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top:10px;
}

.experience-city {
  display: flex;
  flex-direction: column;
}

.experience-summary-contributions {
  margin-top: 5px;
}

.project-inputs-container{
  margin-top: 15px;
}

.project-info-inputs {
  display: flex;
}

.project-notes {
  display: flex;
  flex-direction: column;
}

.projects-one-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.projects-description {
  display: flex;
  flex-direction: column;
}

.projects-summary-contributions {
  margin-top: 5px;
}

.activity-inputs-container {
  margin-top:15px;
}

.activity-info-inputs {
  display: flex;
  flex-wrap: wrap;
}

.activity-one-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.activity-city {
  display: flex;
  flex-direction: column;
}

.experience-info-container {
  margin-top: 15px;
}

.projects-info-container {
  margin-top: 15px;
}

.activity-info-container {
  margin-top: 15px;
}

ul.activity-contributions {
  margin-top: 5px;
}

